{% include 'profilemain.html' %}
<!doctype html>
<html lang="en">

<head>
</head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
            class="navbar navbar-expand-lg navbar-light ">
            <div class="position-sticky pt-3" class="collapse navbar-collapse" id="sidebarMenu">
                <ul class="nav flex-column" class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/profile"
                            style="font-family: Georgia, 'Times New Roman', Times, serif; cursor:pointer; ">
                            <span><i class="fas fa-user" style="font-size: 25px; "></i></span>
                            Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/readinglist" 
                            style="font-family: Georgia, 'Times New Roman', Times, serif; cursor:pointer;">
                            <span><i class="fas fa-folder" style="font-size: 25px;"></i></span>
                            Reading List
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/following"
                            style="font-family: Georgia, 'Times New Roman', Times, serif; cursor:pointer;">
                            <span><i class="fas fa-user-friends" style="font-size: 25px;"></i></span>
                            Following
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/followers" aria-current="page"
                            style="font-family: Georgia, 'Times New Roman', Times, serif; cursor:pointer;">
                            <span><i class="fas fa-users" style="font-size: 27px;"></i></span>
                            Followers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/chatlist" 
                            style="font-family: Georgia, 'Times New Roman', Times, serif; cursor:pointer;">
                            <span><i class="fas fa-comments" style="font-size: 25px;"></i></span>
                            Chats
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/usernews"  
                            style="font-family: Georgia, 'Times New Roman', Times, serif; cursor:pointer;">
                            <span><i class="fas fa-newspaper" style="font-size: 25px;"></i></span>
                            Your NEWS
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                    <span><i class="fas fa-users" style="font-size: 27px;"></i></span>Followers
                </h1>
            </div>
            {% for Follower in Follower %}
            {% for User in Alluser if User.ID_Number == Follower.User_ID %}
            <a href="/profile/{{Follower.User_ID}}" style="color: black; text-decoration:none;">
                <div class="card mb-3" style="max-width: 70%; height:150px; border-radius:80px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            {% if User.Profile_img %}
                            <img src="{{url_for('static',filename=User.Profile_img)}}" alt="..."
                                style="width: 150px; height:150px; margin:auto;border-radius:100%;">
                            {% else %}
                            <img src="{{url_for('static',filename='avtar.png')}}" alt="..."
                                style="width: 150px;height:150px; margin: auto;">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{User.Name}}</h5>
                                <p class="card-text">Citizen : {{User.Country}}</p>
                                <p class="card-text">Bio : {{User.Bio}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            {% endfor %}
            </main>
        </div>
    </div>
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</body>

</html>