<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/6ad0a05750.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='profilestyle.css')}}">
    <title style="font-family: Georgia, 'Times New Roman', Times, serif;">Public NEWS</title>
    <link rel="icon" href="{{ url_for('static',filename='icon.png')}}" type="image/icon type">
    <style>
        .card:hover{
            border: 3px;
            box-shadow: 0 0 80px -10px rgb(0, 0, 0);
            opacity: 100%;
        }
        
    </style>
</head>

<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">

        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/"
            style="color: ivory;cursor:pointer;font-family: Georgia, 'Times New Roman', Times, serif;">Public NEWS</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed py-0" type="button" data-toggle="collapse"
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" onclick="goBack()" style="color: ivory;cursor:pointer;">Back</a>
            </li>
        </ul>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
                class="navbar navbar-expand-lg navbar-light ">
                <div class="position-sticky pt-3" class="collapse navbar-collapse" id="sidebarMenu">
                    <ul class="nav flex-column" class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if Unknow %}
                        {% if Owner %}
                        <li class="nav-item">
                            <a class="nav-link" href="/editnews/{{Article.News_ID}}"
                                style="font-family: Georgia, 'Times New Roman', Times, serif; cursor:pointer;font-size: 25px;">
                                <span><i class="fas fa-edit" style="font-size: 20px; color:#333;"></i></span>
                                EDIT
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/news/delete/{{Article.News_ID}}"
                                style="font-family: Georgia, 'Times New Roman', Times, serif; cursor:pointer;font-size: 25px;">
                                <span><i class="fas fa-trash" style="font-size: 20px; color:#333;"></i></span>
                                Delete
                            </a>
                        </li>
                        {% else %}
                          {% if Feed %}
                            <a class="w btn btn-primary btn-lg" href="/news/{{Article.News_ID}}?unread={{Article.News_ID}}">Remove from ReadList</a>
                          {% else %}
                            <a class="w btn btn-primary btn-lg" href="/news/{{Article.News_ID}}?read={{Article.News_ID}}">Add to ReadList</a>
                          {% endif %}
                        {% endif %}
                        {% endif %}
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
                        style="font-family: Georgia, 'Times New Roman', Times, serif;">
                        <span style="font-size: 20px;">Related NEWS</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        {% for News in Relate %}
                        {% if News.News_ID == Article.News_ID %}
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/news/{{News.News_ID}}" style="position:relative;color:#333;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <img src="{{News.Thumbnail}}" style="width: 70px;height:50px; position:relative; border-radius:100%; margin:auto;"><br>
                                {{News.Title[0:20]}}
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>

                </div>
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <div
                        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                            {{Article.Tag}}
                        </h1>
                    </div>
                    <div class="card mb-3">
                        <img src="{{Article.Thumbnail}}" class="card-img-top" style="max-width: 100%; max-height: 100%; margin:auto;">
                        <div class="card-body" style="font-family: 'Times New Roman', Times, serif;">
                            <h1 class="card-title">{{Article.Title}}</h1>
                            <h3 class="card-text">Country : {{Article.Location}}</h3>
                            <h3 class="card-text">Date: {{Article.Date}}</h3>
                            <h3 class="card-text">Owner: <a href="/profile/{{Article.User_ID}}" style="text-decoration:none; color:blue;">{{Article.User_ID}}</a></h5>
                            <h3 class="card-text">Description :</h3>
                            <p class="card-text" style="font-size: 20px;white-space:pre-wrap;">{{Article.Description}}</p>
                            <hr class="my-4">
                            <i class="fas fa-comment" style="font-size: 50px; margin-left:45%;" onclick="comment(1)"></i>
                        </div>
                        <div class="tab">
                        <div class="card-body" style="font-family: 'Times New Roman', Times, serif; width:100%; max-height: 100%;">
                            {% for comment in Article.Comment %}
                            {% for user in Alluser if user.ID_Number == comment.User_ID %}
                            <a href="/profile/{{user.ID_Number}}" style="color: black; text-decoration:none;">
                                <div class="card mb-3 bg-dark" style="max-width: 50%; max-height:100%; border-radius:80px; color:blanchedalmond">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            {% if user.Profile_img %}
                                            <img src="{{url_for('static',filename=user.Profile_img)}}"
                                                style="max-width: 100%; max-height:100%;border-radius:100%;">
                                            {% else %}
                                            <img src="{{url_for('static',filename='avtar.png')}}" 
                                                style="max-width: 100%; max-height:100%;">
                                            {% endif %}
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <p class="card-title">{{user.Name}} :- {{comment.Comment}}</p>
                                                <small>{{comment.Date}}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                            {% endfor %}
                        </div>
                        {% if Unknow %}
                        <div class="input-group flex-nowrap" style="padding: 2%;">
                           <form action="/news/comment/{{Article.News_ID}}" method="POST" style="width: 100%;">
                            <input type="text" placeholder="Enter Your Comment" class="form-control" name="comment" required>
                            <button type="submit" class="input-group-text" style="border:none; float:right;"><i class="fas fa-paper-plane" style="font-size: 30px;"></i></button>
                           </form>  
                        </div>
                        {% endif %} 
                    </div>
                    </div> 
            </main>
        </div>
    </div>
    <script>
        var c = 0;
        comment(1);
        function comment(n){
            var x = document.getElementsByClassName("tab");
            if (c == n){
                x[0].style.display = "block";
                c=0;
            }
            else{
                x[0].style.display = "none";
                c=1;
            }
        }
        
        function goBack() {
            window.history.back();
          }
        </script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</body>
</html>