<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="profilestyle.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/6ad0a05750.js" crossorigin="anonymous"></script>
    <title style="font-family: Georgia, 'Times New Roman', Times, serif;">Public NEWS</title>
    <link rel="icon" href="{{ url_for('static',filename='icon.png')}}" type="image/icon type">

</head>

<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">

        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/"
            style="font-family: Georgia, 'Times New Roman', Times, serif;">Public NEWS</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed py-0" type="button" data-toggle="collapse"
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" onclick="goBack()" style="color: ivory;cursor:pointer;">Back</a>
            </li>
        </ul>
    </header>

    <div class="container-fluid">
        <div class="row">
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                        {{Article[0].Tag}}
                    </h1>
                </div>
                {% for Article in Article %}
                <div class="card mb-3" style="max-width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{Article.Thumbnail}}" alt="..." style="width: 100%;height:100%;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{Article.Title}}</h5>
                                <p class="card-text">Origin : {{Article.Location}} , Tag : {{Article.Tag}}</p>
                                <p class="card-text"><small class="text-muted">NEWS DATE : {{Article.Date}}</small></p>
                                <a href="/news/{{Article.News_ID}}" class="stretched-link">Continue reading</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="clear-fix">
                    {% if num != 1 %}
                    <a class="btn btn-primary float-left" href="{{prev}}">&larr;Previous</a>
                    {% endif %}
                    {% if num != last %}
                    <a class="btn btn-primary float-right" href="{{old}}"> Next&rarr;</a>
                    {% endif %}
                  </div>
            </main>
        </div>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</body>

</html>