{% include 'profilemain.html' %}
<!doctype html>
<html lang="en">

<head>
    <meta id="my-data" data-name="{{otheruser}}">
</head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
                class="navbar navbar-expand-lg navbar-light ">
                <div class="position-sticky pt-3" class="collapse navbar-collapse" id="sidebarMenu">
                    <ul class="nav flex-column" class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/profile"
                                style="font-family: Georgia, 'Times New Roman', Times, serif; cursor:pointer;">
                                <span><i class="fas fa-user" style="font-size: 25px; color:#333;"></i></span>
                                Profile
                            </a>
                        </li>
                        {% if otheruser %}
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" href="/readinglist" aria-current="page"
                                style="font-family: Georgia, 'Times New Roman', Times, serif; cursor:pointer;color:#333;">
                                <span><i class="fas fa-folder" style="font-size: 25px;color:#333;"></i></span>
                                Reading List
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/following"
                                style="font-family: Georgia, 'Times New Roman', Times, serif; cursor:pointer;color:#333;">
                                <span><i class="fas fa-user-friends" style="font-size: 25px;color:#333;"></i></span>
                                Following
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/followers"
                                style="font-family: Georgia, 'Times New Roman', Times, serif; cursor:pointer;color:#333;">
                                <span><i class="fas fa-users" style="font-size: 27px;color:#333;"></i></span>
                                Followers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/chatlist" 
                                style="font-family: Georgia, 'Times New Roman', Times, serif; cursor:pointer;color:#333;">
                                <span><i class="fas fa-comments" style="font-size: 25px;color:#333;"></i></span>
                                Chats
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    {% if otheruser %}
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
                        style="font-family: Georgia, 'Times New Roman', Times, serif;">
                        <span style="font-size: 15px;">NEWS UPLOADED</span>
                    </h6>
                    {% else %}
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
                        style="font-family: Georgia, 'Times New Roman', Times, serif;">
                        <span style="font-size: 15px;">Your NEWS</span>
                        <a class="link-secondary" href="/addnews" aria-label="Add a new report">
                            <i class="fas fa-plus" style="font-size: 15px;"></i>
                        </a>
                    </h6>
                    {% endif %}
                    <ul class="nav flex-column mb-2">
                        {% for Article in Article %}
                        <li class="nav-item">
                            <a class="nav-link" href="/news/{{Article.News_ID}}" style="position:relative;color:#333;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <img src="{{Article.Thumbnail}}" style="width: 70px;height:50px; position:relative; border-radius:100%; margin:auto;"><br>
                                {{Article.Title[0:20]}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="tab">
                    <div
                        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                            <span><i class="fas fa-user" style="font-size: 25px;"></i></span>Profile
                        </h1>
                        {% if otheruser %}
                        <form method="POST" id="tp1">
                            <input type="hidden" value="{{User.ID_Number}}" name="follow">
                            <input type="hidden" value="1" name="fol">
                            <input type="radio" name="op" value="Follow">
                              <label for="follow">FOLLOW</label><br>
                            <input type="radio" name="op" value="Unfollow">
                              <label for="follow">UNFOLLOW</label><br>
                            <button class="w btn btn-primary btn-lg" type="submit">Done</button>
                        </form>
                        {% endif %}
                    </div>
                    <div class="card mb-3" style="border-radius: 30px;">
                        <div style="margin-top: 20px;"></div>
                        {% if User.Profile_img %}
                        <img src="{{url_for('static',filename= User.Profile_img)}}" class="card-img-top"
                            style="max-width: 400px; height: 200px; margin:auto;">
                        {% else %}
                        <img src="{{url_for('static',filename='avtar.png')}}" class="card-img-top"
                            style="max-width: 200px; max-height: 200px; margin:auto; border-radius:100%;">
                        {% endif %}
                        <div class="card-body" style="font-family: 'Times New Roman', Times, serif;">
                            <h5 class="card-title">Name : {{User.Name}}</h5>
                            <h5 class="card-text">ID No.: {{User.ID_Number}}</h5>
                            <h5 class="card-text">Country: {{User.Country}}</h5>
                            {% if otheruser %}
                            {% else %}
                            <h5 class="card-text">Phone No.:{{User.Phone_no}}</h5>
                            {% endif %}
                            <h5 class="card-text">Email : {{User.Email}}</h5>
                            <h5 class="card-text">Bio :</h5>
                            <p class="card-text">{{User.Bio}}</p>
                            <hr class="my-4">
                            {% if otheruser %}
                            {% else %}
                            <button class="w btn btn-primary btn-lg" type="button" onclick="Tab(1)">Edit
                                Profile</button>
                            {% endif %}
                        </div>

                    </div>
                </div>
                <div class="tab">
                    <div
                        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                            <span><i class="fas fa-user-edit" style="font-size: 30px;"></i></span>Edit Profile
                        </h1>
                        <div id="myDiv"></div>
                    </div>
                    <div class="card mb-3">
                        <div style="margin-top: 20px;"></div>
                        <div class="card-body" style="font-family: 'Times New Roman', Times, serif;">
                            <form class="needs-validation" novalidate method="POST" enctype="multipart/form-data"
                                id="tp2">
                                <div class="col-12">
                                    <label for="id_number" class="form-label">ID Number</label>
                                    <div class="input-group has-validation">
                                        <input type="text" class="form-control" name="ID_Number"
                                            value="{{User.ID_Number}}" readonly>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="profile" class="form-label">Profile Image(Name of your image file is
                                        should be your ID Number)</label>
                                    <input type="file" class="form-control" name="profile">
                                </div>
                                <div class="col-12">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="title" name="name"
                                        placeholder="Enter Your Name" value="{{User.Name}}">
                                </div>

                                <div class="col-12">
                                    <label for="country" class="form-label">Country</label>
                                    <input type="text" class="form-control" name="country" value="{{User.Country}}"
                                        placeholder="Enter your Country ">
                                </div>
                                <div class="col-12">
                                    <label for="phone_no" class="form-label">Phone Number</label>
                                    <input type="text" class="form-control" name="phone_no" value="{{User.Phone_no}}"
                                        placeholder="Enter your Phone Number ">
                                </div>
                                <div class="col-12">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="text" class="form-control" name="email" value="{{User.Email}}"
                                        placeholder="Enter your Email Adress ">
                                </div>
                                <div class="col-12">
                                    <label for="bio" class="form-label">Bio</label>
                                    <textarea type="text" class="form-control" name="bio"
                                        style="resize: none; height:100px;">{{User.Bio}}</textarea>
                                </div>
                                <hr class="my-4">
                                <input type="hidden" value="2" name="fol">
                                <button class="w btn btn-primary btn-lg" type="submit">Update Profile</button>
                        </div>

                        </form>
                    </div>
                </div>  
            </main>
        </div>
    </div>
    {% endblock %}
    <script type="text/javascript">
        var other = $('#my-data').data();
        if (other) {
            $(document).ready(function () {
                $("#tp1 :input").prop("disabled", false);
            });
        }
        else {
            $(document).ready(function () {
                $("#tp2 :input").prop("disabled", false);
            });
        }
        var first = 0;
        Tab(first);
        function Tab(n) {
            var x = document.getElementsByClassName("tab");
            for (var i = 0; i < x.length; i++) { x[i].style.display = "none"; } 
            x[n].style.display = "block";
        }
            function goBack() {
              window.history.back();
            }
    </script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</body>

</html>